curl 'https://api.tokenfactory.nebius.com/v1/embeddings' \
    -X 'POST' \
    -H 'Content-Type: application/json' \
    -H 'Accept: */*' \
    -H "Authorization: Bearer $API_KEY" \
    --data-binary '{"model":"{{offering.name}}","input":"saturday"}'